body{
    background-color: #24292e;
}

h1{
    font-size: 500;
}
#clickCount{
    position: fixed;
    top:30%;
    left:50%;
    font-size: 300px;
    transform:translate(-50%,-50%);
}

.stats{
    font-family: 'Titillium Web', sans-serif;
    font-size:25px;
    user-select: none;
    pointer-events: none;
    color:white;
}

#statHolder{
    line-height: 35px;
}

.particle{
    animation: particlefade 1s;
    opacity: 0;
    position: fixed;
    z-index: -1;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    transform:translate(-50%,-50%);
}

#toggle-stats{
    background: none;
    border: none;
    color: rgb(200, 200, 200);
    font-size: 25px;
}

#main-body{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,0);
}
@keyframes particlefade {
    0% {opacity: .6; width: 50px;}
    100% {opacity: 0; width: 200px;}
}